rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
    
    // System collections
    match /users/{userId} {
      allow read, write: if true;
    }

    match /classes/{classId} {
      allow read, write: if true;
    }

    match /cycles/{cycleId} {
      allow read, write: if true;
    }

    match /requests/{requestId} {
      allow read, write: if true;
    }

    match /auditLogs/{logId} {
      allow read, write: if true;
    }

    match /diaries/{diaryId} {
      allow read, write: if true;
    }

    match /notifications/{notificationId} {
      allow read, write: if true;
    }

    match /grades/{gradeId} {
      allow read, write: if true;
    }

    match /topics/{studentId} {
      allow read, write: if true;
    }
  }
}
